# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg*
*.egg-info/

# Entornos virtuales
env/
venv/
.venv/

# Sistema / editor
.DS_Store
*.DS_Store
.idea/
.vscode/

# Build / dist
build/
dist/
/docs/_build/

# Node / frontend assets
node_modules/
/node_modules/

# Django
/staticfiles/
media/

# Base de datos local
*.sqlite3
*.sqlite
db.sqlite3

# Variables de entorno
.env

# Logs
*.log